*{
  font-family: 'Montserrat', sans-serif;
}
html, body{
  padding: 0;
  margin: 0;
}
.row-head{
  display: flex;
  align-items: center;
  height: 100vh;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 42%, #ff3019 42%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ffffff 42%,#ff3019 42%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ffffff 42%,#ff3019 42%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, */
}
.header-text{
  color: #ff3019;
  font-size: 60px;
}
.header-text-right{
  color: #ffff;
 
}
i{
  padding-right: 1rem;
}
.progress-con{
  background-color: #ff3019;
}
